 
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: rgb(39, 11, 65);
    font-family:NotoSansRegular, sans-serif;
 }
 
 
 .row{
    display: flex;
    flex-wrap: wrap;
 }

ul{
    list-style: none;

 }
 table{
    margin-top: 30px;
 }
 td{
    border: none;
    border-right: 1px solid gray;
    padding: 0px 10px ;
    

 }
 td:last-child{
    border: none;
 }
#foot{
     margin-top: 50px;
    border-top: 1px solid gray;

}
.coL{
    width: fit-content;
    font-size: 12px;
    line-height: 18px;
    color: #a785ff;
    margin-top: -50px;
}
.coL>h4{
    color: white;
    margin-bottom: 28px;
      
}
#bag  ul li:not(:last-child){
    color: white;
    margin-bottom: 12px;
}
#bag{
    display: flex;
    justify-content: space-around;
    margin-top: 110px;
    font-size: 13px;
    width: 80%;
    margin-left: 80px;
}
.top{
    padding-left: 8%;
    font-size: 14px;
    font-weight: 400;
}
.top > li {
   display: inline-block;
   padding: 0 8px;
   padding-top:80px;
}
h3{

 color: rgb(160, 130, 130);

}
#img{
 padding-left: 21%;
 }
a{
text-decoration: none;
color: gray;
}
a:hover{
color: rgb(30, 78, 211);
}
#play{
 display: flex;
 width: 100%;

 justify-content:space-between;
 margin-top: 25px;
 align-items: center;
}
#me{  
    display: flex;
    margin-top: 50px;
    font-size: 13px;
    width: 39%;
    margin-left: 80px;
    color: gray;
    font-size: 14px;
    margin-left: 112px;
}
#rightbox{
    display: flex;
    width:25%;
    height:50px;
    justify-content:space-evenly;
    align-items: center;
    margin-right: 30px;
    
    
}
#rightbox>h3{
    width:60%;
}
.media{
    width:70%;
    display: flex;
    justify-content: space-evenly;
   
}
.media img{
    width:100%;
    height:30px;
    border-radius: 50%;
    object-fit: cover;
    
    
}
.media div{
    width:13%;
    
   
} 
.media img:hover{
    transform: scale(1.3);
    z-index: 2;

}
 #lftbox{
    display: flex;
    justify-content: space-evenly;
    width:40%;
    align-items: center;
    padding-left: 8%;
 }
 

