#pass{
    border: none;
    border-bottom: 1px solid rgb(125, 162, 168);
    
}
#email{
    border: none;
    border-bottom: 1px solid rgb(125, 162, 168);
    
}
#pass2{
    border: none;
    border-bottom: 1px solid rgb(125, 162, 168);
    
}
span , p{
    color: #cfc3ca;
     font-size: 15px;
      font-weight: 400;
   }
   a{
    text-decoration: none;
}
h1{
    font-size: 20px;
     color: #fff;
     margin-bottom: 20px;
     
}

body{
    font-family: NotoSansBold,sans-serif;
    background: #0f0617;


}
#container {
    height: 550px;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    text-align: center;


}
    
img{
   
    margin-top: 20px;
   
    
}
a{
    text-decoration: none;
}
#container> #or{
    
/* background: rgba(129, 4, 4, 0.781); */
/* border-radius: 50%; */
height: 35px;
width: 35px;
color: #fff;
box-sizing: border-box;
margin:auto;
margin-top: 25px;
margin-bottom: 35px;
text-align: center;

padding: 7px;

}
input{
    background-color: transparent;
    border: none;
    margin-top: 10px;
    outline: none;
    resize: none;
    color: rgb(255, 255, 255);
    margin-left: -180px;
    width: 350px;
  
    margin-left: 10px;
}

#top{
    color: #cfc3ca;
    font-size: 15px;
      font-weight: 400;
     margin-left: -180px;

}

#top1{
    color: #cfc3ca;
    font-size: 15px;
      font-weight: 400;
    margin-right:230px;
}
#top2 {
    color: #cfc3ca;
    font-size: 15px;
      font-weight: 400;
    margin-right:213px;

}

button{
    background-color: transparent;
    width: 200px;
    text-align: center;
    color: #cfc3ca;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media all and (min-width:381px) and (max-width:900px){
    #container {
        margin: auto;
        width: 50%;
    }
    #container #or {
        margin: auto;
        margin-top: 20px;
    
        margin-bottom: 10px;
     }
     #top{
        text-align: center;
     }

    
    
}
@media all and (min-width:50px) and (max-width:380px){
    #container {
        width: 100%;
        margin: auto;
        text-align: center;
    }
   
    
}